.df-floating .df-ui-controls {
    bottom: 30px !important;
}

.post__catalog {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 15px;
}

.catalog__pagination {
    margin-top: 30px;
    text-align: center;
}

.page-numbers {
    font-size: 14px;
    line-height: 30px;
    padding: 6px 12px;
    height: 30px;
    color: #848498;
}

.page-numbers.current {
    background: #fdf0f1;
    border-radius: 50%;
}

.page-numbers.prev, .page-numbers.next {
    font-size: 13px;
}

.filter__search {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.filter__submit {
    margin-top: 0;
    margin-left: 16px;
    border-radius: 24px;
}

.filter__input {
   width: 100%;
   position: relative;
}

@media screen and (max-width: 1024px) {
    .df-container {
        height: 500px !important;
    }
}

@media screen and (max-width: 768px) {
    .df-container {
        height: 400px !important;
    }
}

@media screen and (max-width: 540px) {
    .filter__search {
        flex-wrap: wrap;
    }

    .filter__submit {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
        border-radius: 24px;
    }
}